body {
  background-color: blanchedalmond;
}

h1 {
  font-size: 50px;
  color: rgb(107, 255, 255);
}
h2 {
  color: pink;
  font-size: 20px;
}
.big {
  font-size: 60px;
}
.uppercase {
  text-transform: uppercase;
}
.big.uppercase {
  color: chartreuse;
}
h1 span {
  color: violet;
}
